<footer>
    <div class="f-info">
        <div class="f-info-social">
            <!-- <i class="fa-brands fa-facebook"></i> -->
            <a href="https://www.instagram.com/shhriiii?igsh=Zmlyam9lbWt4MGxx&utm_source=qr" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
              </a>
              
            <!-- <i class="fa-brands fa-instagram"></i> -->
            <a href="https://www.linkedin.com/in/shriyansh-pandey-843173221/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              

        </div>
        <div class="f-info-brand">&copy; Stay Space Pvt Ltd</div>
        <div class="f-info-links">
            

        </div>
    </div>
</footer>